---
interface Props {
  title: string;
  subTitle: string;
  image: string;
  class?: string; // Add class prop as an optional string
  imgWrapperClass?: string;
}

const {
  title,
  subTitle,
  image,
  class: className,
  imgWrapperClass: imgWrapperClass,
} = Astro.props;
---

<div
  class={`flex bg-white/5 justify-between flex-col w-full h-full ${className}`}
>
  <div
    class=`h-full w-full aspect-video md:aspect-[16/7] overflow-hidden ${imgWrapperClass}`
  >
    <img
      draggable="false"
      src={image}
      class="block w-full h-full object-top object-cover"
      alt=""
    />
  </div>

  <div class="group p-4 py-3 md:px-6 md:py-4 flex items-center justify-between">
    <div class="">
      <h3
        class="text-xl md:text-2xl lg:text-3xl whitespace-nowrap text-ellipsis overflow-clip group-hover:text-accent"
      >
        {title}
      </h3>
      <p
        class="text-base md:text-lg lg:text-xl text-gray-400 whitespace-nowrap text-ellipsis overflow-clip"
      >
        {subTitle}
      </p>
    </div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="lg:h-12 lg:w-12 md:h-10 md:w-10 h-8 w-8 transition-colors duration-300 ease-in-out"
      fill="currentColor"
      viewBox="0 0 256 256"
    >
      <rect width="256" height="256" fill="none"></rect>
      <line
        x1="64"
        y1="192"
        x2="192"
        y2="64"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="16"
        class="group-hover:stroke-accent"></line>
      <polyline
        points="88 64 192 64 192 168"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="16"
        class="group-hover:stroke-accent"></polyline>
    </svg>
  </div>
</div>
